
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Example CSS styles */
body {
    background-image: url('branden-skeli-Zz4IIPPdoRU-unsplash.jpg'); /* Replace 'background.jpg' with your image file */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}
/* Example CSS styles */


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

section {
    padding: 6px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    display: inline-block;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    width: 45%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.feature h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
}

.btn:hover {
    background-color: #555;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social {
    margin-bottom: 20px;
}

.social a {
    margin: 0 10px;
}

.social img {
    width: 40px;
    height: 40px;
}
